.form-container {
  margin: auto;
  display: block;
  width: 300px;
  padding: 20px;
}

.form {
  margin: auto;
  display: block;
}

.form-header {
  text-align: center;
}

.form-group {
  margin: auto;
  padding: 5px 0;
}

.form-input-label {
  margin-bottom: 10px;
}

.form-input {
  width: 290px;
  height: 25px;
}

.form-submit-button {
  margin: auto;
  display: block;
}
