.form-container {
  margin: 0 auto 100px auto;
  display: block;
  width: 300px;
  padding: 20px 50px 20px 50px;
  background: #efefef;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.form {
  margin: auto;
  display: block;
}

.form-header {
  text-align: center;
  color: #4776E6;
}

.form-group {
  margin: auto;
  padding: 5px 0;
}

.form-input-label {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.form-input {
  width: 98%;
  height: 40px;
  margin: 10px 0;
  font-size: 1.1em;
}

.form-submit-button {
  margin: 10px auto;
  display: block;
  background: none;
  border: 3px solid #4776e6;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 1.1em;
  color: #4776e6;
  width: 100%;
}

.form-submit-button:hover {
  cursor: pointer;
  background: #4776e6;
  color: #FFF;
}

.form-error {
  text-align: center;
  color: #e74c3c;
}
