.list-info {

}

.list-header-container {
  width: 100%;
  background: #999;
  padding: 5% 0;
}

.list-header {
  margin: 0;
  text-align: center;
}

.list-edit-button {
  display: table;
  margin: auto;
}

.list-container {
  width: 75%;
  margin: auto;
}

.list-item {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
}

.list-item-name, .list-item-quantity {
  font-size: 20px;
  width: 40%;
}

.list-item-check {
  font-size: 20px;
  width: 20%;
}
