.item-field-wrapper {
  list-style: none;
  padding: 0;
}

.add-item-button-wrapper {
  margin: 0;
}

.add-field-btn-wrapper {
  margin: 0 0 20px 0;
}

.btn {
  background: #4776e6;
  color: #FFF;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 1.25em;
}

.button-icon {
  vertical-align: middle;
  padding: 0 3px;
}

.blue {
  background: #4776e6;
}

.red {
  background: #e74c3c;
}

.btn:hover {
  cursor: pointer;
}

.field-group {
  background: #e0e0e0;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 3px;
}

.form-input {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #999;
  margin: 10px 10px;
}

.quantity {
  width: 50px;
}

.form-input-label {
  font-size: 1.25em;
  margin-right: 5px;
  width: 75px;
}
