.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 2;
}

.container {
  width: 960px;
  margin: auto;
  position: relative;
  height: 80px;
}

.navbar-header {
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
}

.navbar-header > h1 {
    margin: 0;
    line-height: 80px;
}

.login-options {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-25%);
}

.login-option {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  font-size: 1.1em;
}

.login-option:hover {
  cursor: pointer;
}

.signup {
  border: 2px solid #4776E6;
  border-radius: 2px;
  color: #4776E6;
}
