.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 2;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 960px;
  margin: auto;
  position: relative;
  height: 80px;
  padding: 0 10px;
}

.navbar-header {
  display: inline-block;
  height: 100%;
}

.navbar-header:hover {
  cursor: pointer;
}

.navbar-header > h1 {
    margin: 0;
    line-height: 80px;
    color: #4776E6;
    font-size: 2em;
}

.login-options {
  display: inline-block;
  height: 100%;
}

.login-option {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  font-size: 1.1em;
}

.login-option:hover {
  cursor: pointer;
}

.signup {
  border: 2px solid #4776E6;
  border-radius: 2px;
  color: #4776E6;
}

@media only screen and (min-width: 720px) {
  .navbar-header {
    position: absolute;
    left: 0;
  }

  .login-options {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    right: 0;
  }
}
