/** RESPONSIVE **/
.app-sidebar {
  background: #efefef;
  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  position: relative;
  margin-left: -100%;
  transition: margin .3s ease-in-out;
}

.sidebar-title {
  margin: 0;
  text-align: center;
  padding: 10% 5%;
}

.sidebar-nav {

}

.sidebar-nav-list {
  list-style: none;
}

.sidebar-nav-list-items {

}

.nav-links {
  color: #4776E6;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-links:hover {
  color: #215be6;
}

.sidebar-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #efefef;
  border-bottom: 3px solid #efefef;
  border-top: 3px solid #efefef;
  border-right: 3px solid #efefef;
  border-left: none;
  top: 50px;
  right: -50px;
}

.isVisible {
  margin-left: 0;
}

.button-icon {
  vertical-align: middle;
  padding: 0 3px;
}

/** DESKTOP **/
@media only screen and (min-width: 720px) {
  .sidebar-button {
    display: none;
  }

  .app-sidebar {
    margin: 0;
  }
}
