.app-sidebar {
  background: #888;
  position: fixed;
  height: 100vh;
  width: 20%;
  min-width: 200px;
  max-width: 400px;
}

.sidebar-title {
  margin: 0;
  text-align: center;
  padding: 10% 5%;
}

.sidebar-nav {

}

.sidebar-nav-list {
  list-style: none;
}

.sidebar-nav-list-items {

}
