.user-info {
  background: #999;
  padding: 10% 0;
}

.username {
  margin: 0;
  text-align: center;
}

.list-section {
  margin: auto;
  text-align: center;
}

.list-section-header {
  text-align: center;
}

.lists-container {
}

.list {

}

.list-link-item {

}
